.mainPigeon {
    width: 50px;
    height: 50px;
}

.mainPigeon1 {
    width: 65px;
    height: 65px;
}

.mainPigeon2 {
    width: 85px;
    height: 85px;
}

.rightSide {
    transform: scaleX(1);
}

.leftSide {
    transform: scaleX(-1);
}