html {
    cursor: url("../Img/rede.png")30 30,auto;
}

body {
    margin: 0;
    background-image: url('../Img/fundo2.jpg');
    background-repeat: repeat;
    background-size: 138px;
}

#homePage {

}



#scenario {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: url('../Img/bg8.png');
    background-repeat: no-repeat;
    background-position: center;
}

#scenatioGame {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: url('../Img/bg4.png');
    background-repeat: no-repeat;
    background-position: center;
}

.mainPigeon {
    width: 55px;
    height: 55px;
}

.mainPigeon1 {
    width: 70px;
    height: 70px;
}

.mainPigeon2 {
    width: 90px;
    height: 90px;
}

.rightSide {
    transform: scaleX(1);
}

.leftSide {
    transform: scaleX(-1);
}

.panel {
    position: absolute;
    width: 190px;
    padding: 10px;
    bottom: 0px;
    left: 0px;
    border-top: solid 1px #fff;
    background-color: #fff;
    opacity: 0.9;
}

.life {
    float: left;
}

.timer {
    float: left;
    font-size: 20px;
    font-weight: bold;
}

.score {
    float: left;
    font-size: 20px;
    font-weight: bold;
}

.panelScore {
    float: left;
    font-size: 20px;
    font-weight: bold;
    width: 190px;
    padding: 10px;
    bottom: 0px;
    left: 0px;
    border-top: solid 1px #ff6400;
    background-color: #ff6400;
}

.card-img-top {
    object-fit: cover;
    background-repeat: no-repeat;
    height: 250px;
}
